@page
@using RagnaRock___Eksamens_Projekt.Models
@model DetaljeVisningModel
@{
    ViewData["Title"] = "DetaljeVisning";
}


@if (Model.Exhibition != null)
{


   
        <section>
            <article class="my-3">
                <article>
                    <div class="d-flex">
                        <h2 class="pb-lg-3 pt-lg-5"><a href="@Url.Action("Detail", "Exhibition")">@Model.Exhibition.Name</a></h2>
                   
                   @*  <button onclick="playAudio()" type="button" class="rounded-circle">Afspil Lydfil</button> <!-- You can add text or icon here --> *@
                  
                   @*  <audio controls>

                        <source src="/soundfiles/@Model.Exhibition.Soundfiles" type="audio/mp3">
                    </audio> *@

                </div>
                    <div class="d-flex">
                    <p class="card-text pe-lg-5 pt-lg-5">@Model.Exhibition.Description</p>
                    <div class="float-right">
                        <audio class="pb-lg-3" id="myAudio" controls>
                            <source src="/soundfiles/@Model.Exhibition.Soundfiles" type="audio/mp3" />
                        </audio>
                        <img src="images/@Model.Exhibition.Images" class="DetaljeImage" alt="thumbnail">

                    </div>
                    </div>
                </article>
            </article>
        </section>
    

        <script>
            
            var x = document.getElementById("myAudio"); 

            function playAudio() 
            {
                x.play();
            }
        </script>


}
else
{
    <p>No exhibitions found.</p>
}









