@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="text-center">
    <h1 class="display-4">Velkommen til Ragnarock!</h1>
   
    <article>
        <img src="images/HomePage.jpg" class="card-image-top w-75 box-shadow rounded" alt="thumbnail">

    </article>




</section>
