@page
@using RagnaRock___Eksamens_Projekt.Models
@model ListevisningModel
@{
    ViewData["Title"] = "Udstillinger";
}



<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>RagnaRocks Udstillinger</h1>
            </div>



            @foreach (Exhibition item in Model.AllExhibitions)
            {
                <sectionn class="col-md-6 col-lg-4">
                    <article class="card my-3">


                        <article class="card-body">
                            <div class="d-flex">
                                <h3 class="card-title"><a href="#" class="text-secondary">@item.Name</a></h3>
                                <button>

                                </button>
                            </div>

                            <p class="card-text">@item.ShortDescription</p>
                            <img src="images/@item.Images" class="card-image-top w-75" alt="thumbnail">
                            <br />
                            <a asp-page="/DetaljeVisning" asp-route-id="@item.Id">Click</a>
                        </article>

                            <a asp-page-handler="Delete"
                               asp-route-id="@item.Id">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        
                    </article>
                </sectionn>
            }



        </div>
    </div>
</section>


